{
  "presets": [
    ["@babel/preset-env", {
      "modules": false,
      "targets": {
        "browsers": [
          "last 2 versions"
        ]
      }
    }],
    ["@babel/stage-2",{"decoratorsLegacy":true}]
  ],
  "comments": false
}
